div(class='card__header ' + classDiv)
    .card__header_number-room
      p.card__header_sing #{symbol}
      p(class='card__header_number '+ classNumber) #{number}
      p.card__header_type #{type}
    .card__header_price
      p.card__header_sum #{sum}&nbsp;
      p.card__header_desc #{desc}