- var classLabel = 'rate-stars__label '
- var classInput = 'rate-stars__input '

.rate-stars
  each item in items
   input(id=item.id class=classInput type='radio' name=nameInput value=item.value checked=item.checked)
   label(for=item.id class=classLabel)