div(class = 'dropdown '+ classSection)
  .dropdown__description
    p.dropdown__name #{nameField}
  select(
    size = size
    class = 'select__default ' + classDropdown)
      option(value=optSelect
              class="select__option"
              selected) #{optSelect} 
      each opt in options
        option(value=opt
              class="select__option") #{opt} 